/* Header bar */
@namespace xul "http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul";

/* Headerbar */
#nav-bar {
	background: var(--gnome-headerbar-background) !important;
	padding: 6px 3px !important;
}

/* Hide tabsbar default private browsing indicator */
#private-browsing-indicator-with-label {
	display: none !important;
}

/* Overlay headerbar on fullscreen */
#navigator-toolbox[inFullscreen] {
  position: fixed !important;
  transition: margin 300ms ease-in-out 0s !important;
  line-height: 0;
  z-index: 1;
  width: 100vw;
}

#navigator-toolbox[inFullscreen]:hover,
#navigator-toolbox[inFullscreen]:focus-within {
  margin-top: 0 !important;
}

#navigator-toolbox[inFullscreen] > * {
  line-height: normal;
}
